<div class="container">
    <button mat-button (click)="createSession('start')">
        Session Start
    </button>
    <button mat-button (click)="createSession('stop')">
        Session Stop
    </button>
    <div class="row mt-5">
        <div class="col-6">
            <ag-grid-angular class="ag-grid"
            [rowData]="rowData"
            [columnDefs]="colDefs" />
        </div>
        <div class="col-6">
            <app-sim-bar-chart [sessions]="rowData"></app-sim-bar-chart>
        </div>
        
    </div>
    
</div>
